.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 5px;
}

.scroll-bar:horizontal {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 5px;
}

.scroll-bar .thumb {
    -fx-background-color: #e3e3ee;
    -fx-background-insets: 2;
    -fx-background-radius: 5px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #b3b3b3;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 5px;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
    -fx-fill: white;
}
